<footer class="aheto-footer aheto-footer-15">

    <div class="container">
        <div class="aheto-footer-15__bottom">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <div class="aheto-footer-15__cr margin-lg-40t margin-lg-40b margin-sm-0b">
                        <p class="aheto-footer-15__cr-text ">© Chata Lenka. All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 text-right">
                    <div class="aheto-footer-menu margin-lg-40t margin-lg-40b margin-sm-20t">
                        <nav class="menu-main-container">
                            <ul class="main-menu">
                                <!-- <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#"
                                        class="active">Privacy</a></li>
                                <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#"
                                        class="active">Terms</a></li>
                                <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#"
                                        class="active">Site Map</a></li>
                                <li class="menu-item  menu-item-type-post_type menu-item-object-page"><a href="#"
                                        class="active">Purchase</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/vendors/script.js"></script>
<script src="/vendors/animation/anm.min.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>