<meta charset="UTF-8" />
<title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
 
<!-- <base href="/"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700|Poppins:300,400,400i,600|Source+Sans+Pro:400,400i,600,700,900|Mukta:400,700,800|Oswald:400,600|Lato:400,400i,700|Roboto:300,400,500,700|Roboto+Slab:400,700|Playfair+Display:400,400i|Catamaran:300,400,600,700|Merriweather:400,700|Montserrat:400,500,600|Nunito|Open+Sans:300,400,500,600|Caveat:400,700|Dancing+Script"
  rel="stylesheet"> -->
<link rel="stylesheet" id="style-main" href="/css/styles-main.css">
<link rel="stylesheet" id="style-link" href="/css/styles-15.css">
<!-- <link rel="stylesheet" id="swiper-main" href="vendors/swiper/swiper.min.css"> -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-1.3.0.js" integrity="sha256-/Gj+NlY1u/J2UGzM/B2QrWR01trK8ZZqrD5BdqQUsac="
  crossorigin="anonymous"></script>
<script src="/vendors/lazyload/imagesloaded.pkgd.min.js"></script>
  <script src="/vendors/isotope/isotope.pkgd.min.js"></script>
  <link rel="shortcut icon" href="/favicon.png">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<link rel="stylesheet" id="lity-main" href="/vendors/lity/lity.min.css">
<script src="/vendors/lity/lity.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Roboto:300,400,500,700:latin,latin-ext', 'Oswald:700'],
      text: 'AaÁáÄäBbCcČčDdĎďDzdzDždžEeÉéFfGgHhChchIiÍíJjKkLlĹĺĽľMmNnŇňOoÓóÔôPpQq1RrŔŕSsŠšTtŤťUuÚúVvWwXxYyÝýZzŽž!&. 1234567890€/+()%-'
    }
  });
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<meta name="description" content="{{ description }}">
 
<style>
    h1 {
        font-weight: 300;
        font-size: 40px;
            line-height: 1.3;

    }
    h1 strong{
            color: #2A74ED;
            font-weight: inherit;
    }
    h2 strong {
      color: #2A74ED;
            font-weight: inherit;
    }
    .text ul, .post-content ul {
        list-style: circle;
        text-align: left;
    }
    .text ol, .post-content ol {
        list-style: decimal;
    }
    .text li, .post-content li {
        display: list-item;
    }
    .blog--single__full .post-content .container > h1 {
        padding: 0 100px;
    }
    .blog--single__full .post-content .container > p > img {
        margin-left: -100px;
        width: calc(100% + 200px);
        margin-top: 40px;
    }
    .aheto-pf__item[onclick] {
        cursor: pointer;
    }
    h1.aheto-logo__text {
        font-family: Oswald;
        margin-left: 25px;
    }
    .aheto-pf__cat u {
      text-decoration: underline !important;
    }
    .review-box {
      text-align: center; width: 14.2%;padding: 13px 0px 5px 0px; border-right: 1px solid rgba(0, 0, 0, 0.07);float:left;
      cursor: pointer;
    }
    .review-box:last-child {
      border-right: 0px;
    }
    .review-box strong {
      font-family:Roboto Light;font-weight: 300;display:block;
      margin-bottom: 1px;
    }
    .review-box h5 {
      position: relative;top: 1px;
    }
    .review-box .icon {
      float: none;margin-right: 5px;position:relative;top:-1px;font-size:20px;
    }
    @media screen and (min-width: 1024px) {
        
    }
    @media screen and (max-width: 767px) {
      .review-box {
        width: 50%;
      }
      .review-box:nth-child(2n) {
        border-right: 0px;
      }
      .blog--single .post-content .container > h1 {
        padding: 0;
      }
    }
    @media screen and (max-width: 1024px) {
      
    }

</style>