<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <div class="swiper swiper--banner-hp home-banner">
    <div class="swiper-container " data-autoplay="true" data-speed="2000" data-loop="true" data-spaceBetween="0" data-slidesPerView="responsive"
      data-add-slides="1" data-lg-slides="1" data-md-slides="1" data-sm-slides="1" data-xs-slides="1" data-effect="fade">
      <div class="swiper-wrapper ">
        <div class="swiper-slide ">
          <div class="aht-ban aht-ban--main aht-ban--main-low-opacity aht-ban--main-1 t-center">
            <img class="js-bg" src="/img/photos/slovakia.jpg" alt="Background">
            <div class="aht-ban__content">
              <h1 class="aht-ban__title">This is Slovakia.<br>A country worth visiting.</h1>
              <h5 class="aht-ban__desc">We would love to welcome you.</h5>
              <div class="aht-ban__links">
                <div class="aht-ban__link-wrap">
                  <a class="aht-ban__link-prime aheto-btn t-uppercase" href="/en/posts/top-7-slovakia/">7 things you have to try in Slovakia</a>
                </div>
                <!-- <div class="aht-ban__link-wrap">
                    <a class="aht-ban__link-second aheto-btn aheto-btn--light aheto-btn--underline" href="#">view the demos</a>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="swiper-slide ">
            <div class="aht-ban aht-ban--main t-center">
              <img class="js-bg" src="/img/front-clean.jpg" alt="Background">
              <div class="aht-ban__content">
                <a class="aht-ban__video js-mp-video" href="https://www.youtube.com/watch?v=myifiXG1WUA">
                  <i class="icon ion-play"></i>
                </a>
                <h1 class="aht-ban__title">Your landing page. Reinvigorated.</h1>
                <h5 class="aht-ban__desc">Build lean, beautiful websites with a clean and contemporary</h5>
              </div>
            </div>
          </div> -->
        <div class="swiper-slide ">
          <div class="aht-ban aht-ban--main aht-ban--main-middle-opacity aht-ban--main-3 ">
            <img class="js-bg" src="/img/front-clean.2560.jpg" alt="Background">
            <div class="aht-ban__content">
              <h1 class="aht-ban__title">Allow us to be your hosts.</h1>
              <h5 class="aht-ban__desc">And welcome you in our modern vacation villa in the heart of Slovakia</h5>
              <div class="aht-ban__links">
                <a class="aht-ban__link aheto-btn t-uppercase margin-lg-15r" href="/{{locale}}/book-now/">Book now</a>
                <a class="aht-ban__link aheto-btn aheto-btn--light t-uppercase margin-xs-20t" href="{{locale}}/photos">See the photos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
  </div>
  <div class="container main-home-cb">
    {{#each reviews}}
    <div class="review-box" onclick="window.open('https://www.ubytovanienaslovensku.eu/chata-lenka-ruzomberok')">
      <strong style="">{{title}}</strong>
      <h5 class="aht-cb__title"><i class="icon fas fa-star aht-cb__icon"></i> {{score}}/10</h5>
    </div>
    {{/each}} 

  </div>
  <div class="container-fluid border-top clearfix">
    </div>
  <div class="container-fluid border-bottom">
    <div class="container">
      <div class="row margin-lg-140t margin-sm-50t margin-md-80t padding-lg-80b padding-md-80b padding-sm-50b">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 margin-lg-30b">
              <div class="aht-heading aht-heading--main ">
                <h2 class="aht-heading__title">Have <b>fun & relax</b>,</h2>
                <p class="aht-heading__desc">Everybody needs some fun and relaxation during their vacation. The Liptov area provides the best of both worlds.</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 margin-md-30b">
              <div class="aheto-btn-container  ">
                <a href="/{{locale}}/fun-relax" class="aheto-btn  aheto-btn--underline   ">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 margin-md-30b">
          <div class="aht-cb aht-cb--main main-home-cb ">
            <div class="aht-cb__img">
              <img class="js-bg" src="img/surroundings/tatralandia.410.jpg" alt="Content block image" style="display: none;">
            </div>
            <div class="aht-cb__caption">
              <i class="aht-cb__icon icon far fa-laugh-beam"></i>
              <h5 class="aht-cb__title">Fun</h5>
            </div>
            <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
              strong brand. Our websites look great, but each page has</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aht-cb aht-cb--main main-home-cb ">
            <div class="aht-cb__img">
              <img class="js-bg" src="img/surroundings/relax.410.jpg" alt="Content block image" style="display: none;">
            </div>
            <div class="aht-cb__caption">
              <i class="aht-cb__icon icon far fa-heart"></i>
              <h5 class="aht-cb__title">Relax</h5>
            </div>
            <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
              strong brand. Our websites look great, but each page has</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row margin-lg-100t margin-sm-50t margin-md-80t padding-lg-80b padding-md-80b padding-sm-50b">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 margin-lg-30b">
              <div class="aht-heading aht-heading--main ">
                <h2 class="aht-heading__title">Experience a new <b>culture</b>,</h2>
                <p class="aht-heading__desc">Slovakia is the beating heart of Europe between the east and the west</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 margin-md-30b">
              <div class="aheto-btn-container  ">
                <a href="/{{locale}}/culture" class="aheto-btn  aheto-btn--underline   ">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 margin-md-30b">
          <div class="aht-cb aht-cb--main main-home-cb ">
            <div class="aht-cb__img">
              <img class="js-bg" src="img/surroundings/vlkolinec.410.jpg" alt="Content block image" style="display: none;">
            </div>
            <div class="aht-cb__caption">
              <i class="aht-cb__icon icon far fa-flag"></i>
              <h5 class="aht-cb__title">Unesco Heritage site</h5>
            </div>
            <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
              strong brand. Our websites look great, but each page has</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aht-cb aht-cb--main main-home-cb ">
            <div class="aht-cb__img">
              <img class="js-bg" src="img/surroundings/jedlo.410.jpg" alt="Content block image" style="display: none;">
            </div>
            <div class="aht-cb__caption">
              <i class="aht-cb__icon icon fas fa-utensils"></i>
              <h5 class="aht-cb__title">Food</h5>
            </div>
            <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
              strong brand. Our websites look great, but each page has</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row margin-lg-100t margin-sm-50t margin-md-80t padding-lg-80b padding-md-80b padding-sm-50b">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 margin-lg-30b">
                <div class="aht-heading aht-heading--main ">
                  <h2 class="aht-heading__title">and get <b>active</b></h2>
                  <p class="aht-heading__desc">What better place to get active than in one of the most beatiful countries in Europe.</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 margin-md-30b">
                <div class="aheto-btn-container  ">
                  <a href="/{{locale}}/active" class="aheto-btn  aheto-btn--underline   ">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 margin-md-30b">
            <div class="aht-cb aht-cb--main main-home-cb ">
              <div class="aht-cb__img">
                <img class="js-bg" src="img/surroundings/skipark.410.jpg" alt="Content block image" style="display: none;">
              </div>
              <div class="aht-cb__caption">
                <i class="aht-cb__icon icon fas fa-skiing"></i>
                <h5 class="aht-cb__title">Winter sports</h5>
              </div>
              <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
                strong brand. Our websites look great, but each page has</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="aht-cb aht-cb--main main-home-cb ">
              <div class="aht-cb__img">
                <img class="js-bg" src="img/surroundings/bikepark.410.jpg" alt="Content block image" style="display: none;">
              </div>
              <div class="aht-cb__caption">
                <i class="aht-cb__icon icon fa fa-bicycle"></i>
                <h5 class="aht-cb__title">Mountainbiking</h5>
              </div>
              <p class="aht-cb__desc">We interlace our creative with solid marketing and branding principles. A
                strong brand. Our websites look great, but each page has</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  {{>footer}}

</body>

</html>