<!doctype html>
<html lang="en">

<head>
  {{>head}}

</head>

<body class="blog--single blog--single__full">
  {{>header}}
  <div class="container-fluid border-top">
    </div>
  <div class="post-content">
    <div class="container">
      <!-- <div class="row margin-lg-115t margin-lg-55b margin-md-35b margin-md-70t margin-sm-50t">
        <div class="col-md-8 offset-md-2">
          <div class="aheto-heading t-center "> -->
            <!-- <h2 class="aheto-heading__title    t-light ">Built on passion and <span>ingenuity</span></h2>
            <p class="aheto-heading__desc   ">TommusRhodus is an elite author known for offering high-quality, high-value
              products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions</p> -->
              {{{contents}}}
          <!-- </div>
        </div>
      </div> -->
    </div>
  </div>
  {{>footer}}

</body>

</html>