<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    <div class="container-fluid border-top">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-lg-120t margin-md-90t margin-sm-70t">
                <div class="aheto-pricing-table">
                    <div class="aheto-pricing-table__head">
                        <div class="aheto-pricing aheto-pricing--tableHead">
                            <div class="aheto-pricing__header js-height">
                                <h3 class="aheto-pricing__title ">Entire cottage <br>per night</h3>
                            </div>
                            <div class="aheto-pricing__content">
                                <div class="aheto-pricing__list">
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{guests}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{extra-guests}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{flexible-dates}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{included-basics}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{electricity}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{wood}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <h6>{{tourist-tax}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aheto-pricing-table__content">
                        <div class="aheto-pricing aheto-pricing--tableColumn">
                            <div class="aheto-pricing__header js-height">
                                <h6 class="aheto-pricing__title ">{{low-season}}</h6>
                                <div class="aheto-pricing__cost">
                                    <div class="aheto-pricing__cost-value">{{low-season-price}}</div>
                                </div>
                            </div>
                            <div class="aheto-pricing__content">
                                <div class="aheto-pricing__list">
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{guests}}</p>
                                        <h6>{{guests-included}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{extra-guests}}</p>
                                        <h6>{{low-season-extra-guests}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{flexible-dates}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{included-basics}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{electricity}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{wood}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{tourist-tax}}</p>
                                        <h6>{{tourist-tax-detail}}</h6>
                                    </div>
                                </div>
                                <a href="#" class="aheto-btn aheto-pricing__btn aheto-btn--small">book now</a>
                            </div>
                        </div>
                        <div class="aheto-pricing aheto-pricing--tableColumn">
                            <div class="aheto-pricing__header js-height">
                                <h6 class="aheto-pricing__title ">{{summer-season}}</h6>
                                <div class="aheto-pricing__cost">
                                    <div class="aheto-pricing__cost-value">{{summer-season-price}}</div>
                                </div>
                            </div>
                            <div class="aheto-pricing__content">
                                <div class="aheto-pricing__list">
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{guests}}</p>
                                        <h6>{{guests-included}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{extra-guests}}</p>
                                        <h6>{{summer-season-extra-guests}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{flexible-dates}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{included-basics}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{electricity}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{wood}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{tourist-tax}}</p>
                                        <h6>{{tourist-tax-detail}}</h6>
                                    </div>
                                </div>
                                <a href="#" class="aheto-btn aheto-pricing__btn aheto-btn--small">book now</a>
                            </div>
                        </div>
                        <div class="aheto-pricing aheto-pricing--tableColumn">
                            <div class="aheto-pricing__header js-height">
                                <h6 class="aheto-pricing__title ">{{winter-season}}</h6>
                                <div class="aheto-pricing__cost">
                                    <div class="aheto-pricing__cost-value">{{winter-season-price}}</div>
                                </div>
                            </div>
                            <div class="aheto-pricing__content">
                                <div class="aheto-pricing__list">
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{guests}}</p>
                                        <h6>{{guests-included}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{extra-guests}}</p>
                                        <h6>{{winter-season-extra-guests}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{flexible-dates}}</p>
                                        <h6>{{winter-season-flexible-dates}}</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{included-basics}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{electricity}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i> ({{winter-season-electricity}} <sup>1</sup>)</h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{wood}}</p>
                                        <h6><i class="ion-checkmark aheto-pricing__list-ico-ok"></i></h6>
                                    </div>
                                    <div class="aheto-pricing__list-item js-height">
                                        <p>{{tourist-tax}}</p>
                                        <h6>{{tourist-tax-detail}}</h6>
                                    </div>
                                    
                                </div>
                                <a href="#" class="aheto-btn aheto-pricing__btn aheto-btn--small">book now</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-lg-115t margin-lg-55b margin-md-35b margin-md-40t margin-sm-50t">
            <div class="col-md-8 offset-md-2">
                <div class="aheto-heading t-center text">
                <!-- <h2 class="aheto-heading__title    t-light ">Built on passion and <span>ingenuity</span></h2>
                <p class="aheto-heading__desc   ">TommusRhodus is an elite author known for offering high-quality, high-value
                    products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions</p> -->
                    {{{contents}}}
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>